body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  height: 100vh;
  background-color: rgb(181, 63, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn button{
  border-radius: 10px;
  width: 200px;
  height: 50px;
  color : red;
  font-weight: bold;
  /* padding: 10px; */
  font-size: 30px;
  cursor: pointer;
}
.Btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.text-input{
  width: 500px;
  height: 50px;
  border-radius: 10px;
  outline: 0px;
  border: 0px;
  padding: 20px;
  font-size: 16px;
}
.input-box h1{
  display: flex;
  justify-content: center;
  color: whitesmoke;
} 
.input-box input {
  display: block;
  gap: 10px;
  margin-top: 10px;

}
